/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Main Styles */

body {
    font-family: 'Inter'; 
    background-color: #141414;
    color: #fff;
    display: flex;
    justify-content: center;

}

.cardContainer {
    background-color: #1F1F1F;
    border-radius: 0.75rem;
    padding: 2rem;
    margin: 4rem;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainImg {
    border-radius: 100%;
    
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.attribution {
    display: none;
}


/* Media Queries */ 
/* Meets WCAG standards from 320px - large screen */

/* Mobile */

@media (max-width: 375px) {

}