/* Fonts imported */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* global css variables */

:root {
    --color-white: hsl(0, 100%, 100%);
    --color-purple100: hsl(275, 100%, 97%);
    --color-purple600: hsl(292, 16%, 49%);
    --color-purple950: hsl(292, 42%, 14%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;

    font-family: 'Work Sans', sans-serif;
}

/* background styles */

body {
    min-height: 100vh;
}

/* centering content styles */

body {
    background-image: url(../assets/images/background-pattern-desktop.svg);
    background-size: 100% auto;
    
    background-repeat: no-repeat;
    background-color: var(--color-purple100);
}


main.cardContainer {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* card styles */


.card {
    display: flex;
    flex-flow: column wrap;
    box-sizing: border-box;
    gap: 10px;

    background-color: var(--color-white);
    height: auto;
    aspect-ratio: 4/3;
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;

}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    text-align: center;
    height: 20%;

    margin-bottom: 20px;
}

.starIcon {
    height: 40%;
}

.title {
    font-size: 2.5rem;
    color: var(--color-purple950)
}

.questionContainer {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: space-between;

    margin: 10px 0 10px 0;
    border-bottom: 1px solid var(--color-purple100);
}

.question {
    font-size: 0.75rem;
    color: var(--color-purple950)
}

/* button styles */

.plusIcon, .minusIcon {
    height: 20px;
}

.minusIcon {
    display: none;
}

.answer {
    display: none;
}



/* attribution */

.attribution {
    display: none;
}