/* Fonts Imported */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* Global styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* colors */

:root {
  --color-white: hsl(0, 100%, 100%);
  --color-primary-purple-100: hsl(275, 100%, 97%);
  --color-light-pink: hsla(274, 100%, 97%, 1);
  --color-pale-purple: hsla(292, 16%, 49%, 1);
  --color-dark-purple: hsl(292, 42%, 14%);
  --color-pink: hsla(281, 83%, 54%, 1);
}

/* body styles */

body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  
  background-image: url(../assets/images/background-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;

  margin: 0;
  
}

main {
  max-width: 600px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 32px 56px 0px hsla(281, 100%, 23%, 0.1);
  background-color: var(--color-white);
  /* margin: 9rem 1.5rem; */
}


/* line styles */

hr {
  height: 1px; 
  background: var(--color-light-pink);
  border: none;
}

/* Container Styles */
.faq-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

/* title styles */

.faq-container .header {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.faq-container .header img {
  width: 24px;
  height: 24px;
}

.faq-container .header h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-dark-purple);
}


/* quetions container styles */

.faq-container .questions-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.questions-container .question-answer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.questions-container .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 100%;
}

.questions-container .question p {
  color: var(--color-dark-purple);

  font-family: 'Work Sans';
  font-weight: 600;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0;
}

/* styling on question hover */

.questions-container .question:hover {
  cursor: pointer;
}

.questions-container .question p:hover {
  color: var(--color-pink);
}

/* answer styles */

.questions-container .answer p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-pale-purple);
  text-align: left;
}

/* hide answers by default */
.answer {
  display: none;
}

/* hide minus by default */

.question .minus {
  display: none;
}

/* conditionals for answer block */

.question[aria-expanded='true'] + .answer {
  display: block;
}

.question[aria-expanded='true'] + .plus {
  display: none;
}

.question[aria-expanded='true'] + .minus {
  display: inline;
}


/* Responsive Design */

@media (max-width: 768px) {
  body {
    background-image: url(../assets/images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .faq-container .header img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .faq-container .header h1 {
    font-size: 3.5rem;
  }

  .questions-container .question p {
    font-size: 1.12rem;
  }

  .questions-container .answer p {
    font-size: 1rem;
  }
}