@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

body {
    background-color: #F3E5D7;
    color: #5f564d;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;

    padding: 2rem 1rem;
}


/* Main Card Styles */

.cardContainer{
    max-width: 700px;
    background: #fff;
    padding: 2.5rem 2rem 2rem 2rem;
}


/* MISC Resuable Styles */

.roundedCorners {
    border-radius: 0.75rem;
}

.fancyHeading {
    font-family: 'Young Serif', sans-serif;
    font-size: 28px;
    font-weight: normal;
}

.paddingBottom {
    padding-bottom: 2rem;
}

.paddingBottomLine {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #eee;
}

span {
    font-weight: bold;
}

.brown, ul li::marker, ol li::marker {
    color: #854632;
}

h2 {
    font-weight: normal;
}

ul li::marker{
    font-size: 0.8rem;
}

ol li::marker {
    font-size: 1rem;
    font-weight: bold;
}

/* Main Hero Image Styles */

.mainImage {
    width: 100%;
}

/* Main Headings */

h1.fancyHeading {
    font-size: 40px;
    color: #312e2c;
    
}

/* Preparation Section */

.preparationSection {
    background-color: #fff7fb;
    padding: 0.5rem 1rem 1rem 1rem;
}


.preparationSection>h3 {
    color: #7a284e;
    font-size: 20px;
    font-weight: 600;
}

ul {
    padding-left: 1rem;
} 


ul li {
    padding-left: 1rem;
    margin-bottom: 1rem;
}


.preparationSection li::marker {
    color: #7a284e;
    font-size: 0.8rem;

}

/* Ingredients Section */


/* Instructions Section */

ol {
    padding-left: 1.5rem;
}

ol li {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}

/* Nutrition Section */

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;
}

td:last-of-type{
    font-weight: bold;
    color: #854632;
}

table tr:last-child td {
    border-bottom: none;
}

/* Responsive Design Media Queries */

/* Tablet Version max-width: 850px; */

@media (max-width: 850px) {

    /* Remove default styles */
    body, h1, h2, h3, p, ul, ol, li {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
    /**/

    body {
        padding: 4rem 5rem;
    }

    .cardContainer {
        padding: 3rem 3rem
    }

    .paddingBottom {
        padding-bottom: 1rem;
    }

    /* Title */

    h1 {
        padding-top: 2rem;
    }

    .description {
        padding-bottom: 2rem;
    }

    /* Preparation Section */

    .preparationSection {
        padding: 2rem 1.5rem 0.5rem 1.5rem;
        margin-bottom: 2rem;
    }

    ul {
        margin: 1rem 1.5rem;
    }


}

/* Mobile Version max-width: 500px */

